/* Hide duplicate timestamp if not using full time option */

.better-date {
    display: none;
}

.better-edited-date {
    display: none;
}

/* Hide 24 hour time */

.hour24-time {
    display: none;
}

.hour12-time {
    display: inline;
}

/* Hide new comment tag */

.new-tag-text {
    display: none;
}

.highlight-new .comment-header .new-tag-text {
    display: block;
    color: #e65c00;
}

/* Hide new comment styling if not using comment styling option */

span.new-style {
    display: none;
}

/* Comment blockquote style */

.comments-page blockquote {
    margin: 0 2em;
    padding: 0 1em;
}

blockquote blockquote {
    margin: 0 0 !important;
}

.comment-list-container blockquote > * {
    margin-left: 0 !important;
}

/* Own comment hearts don't have pointer cursor */

.like-button {
    cursor: pointer;
}

.like-button.own-comment {
    cursor: default;
}

.like-button .reaction-container {
    display: flex;
    align-items: center;
}

.like-button .reaction-container > svg.animation {
    position: absolute;
}

.comment-main .comment-footer button.comment-heart,
.comment-main .comment-footer button.comment-heart:hover {
    text-decoration: none;
}

.like-button .like-count:not(:empty) {
    padding-left: 4px;
}

/* Remove substack ads */
[data-testid="noncontributor-cta-button"],
.available-content ~ *:not(.post-footer):not([data-testid="paywall"]),
.subscribe-footer {
    display: none;
}

.app-banner {
    display: none;
}

/* Comment ordering */

#comment-toggle-container {
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
}

.comment-toggle {
    margin-right: 10px;
    font-size: 16px;
}

.segmented-control {
    display: flex;
    gap: 3px;
    border: 1px solid #cbd5e3;
    border-radius: 6px;
    background-color: #d4dfed;
}

.segmented-control button {
    margin: -1px;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 5px 10px;
    background-color: #0000;
    cursor: pointer;
}

.segmented-control button[data-selected="true"] {
    border: 1px solid #888;
    background-color: #edf3fd;
}

.segmented-control button:focus-visible {
    outline: 2px solid #0053b3;
    outline-offset: -1px;
}

.return-to-thread-link {
    margin: 0;
}



/* Recreation of substack ui */

.post a:focus-visible,
.comment-header a:focus-visible,
.comment-footer button:focus-visible,
.comment-body a:focus-visible,
.reason-line .show-toggle:focus-visible,
.text-input-buttons button:focus-visible,
.collapser .anchor:focus-visible + .outline,
[data-test-id="comment-input"] button:focus-visible,
.report-modal-wrapper a:focus-visible {
    box-shadow: none;
    outline: #0053b3 auto 1px;
    outline-offset: 2px;
}

.text-input-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--animate-hover);
    border: 1px solid transparent;
    border-radius: 8px;
    height: 40px;
    padding: 16px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.text-input-buttons button.primary {
    background-color: var(--color-button-primary-bg);
    color: var(--color-button-primary-fg);
}

.text-input-buttons button.primary:hover {
    background-color: var(--color-button-primary-bg-hover);
}

.text-input-buttons button.primary:disabled {
    background-color: var(--color-button-disabled-bg);
    cursor: default;
    color: var(--color-button-disabled-fg);
}

.text-input-buttons button.secondary {
    background-color: var(--color-button-secondary-bg);
    color: var(--color-button-secondary-fg);
}

.text-input-buttons button.secondary:hover {
    background-color: var(--color-button-secondary-bg-hover);
}

.text-input-buttons .spinner .button-text {
    display: none;
}

.text-input-buttons .spinner-animate {
    display: none;
}

.text-input-buttons .spinner .spinner-animate {
    display: block;
    animation: 2s cubic-bezier(0.65, 0, 0.35, 1) infinite spin;
}

@keyframes spin {
    0% {
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(675deg);
    }
}

.comment-list-container.processing {
    display: none;
}

.comment-list-items {
    margin-top: -12px;
}

.comment-list-items .comment {
    margin-top: 12px
}

.comment {
    scroll-margin-top: 6px;
}

.comment.hidden {
    display: none;
}

.comment-content {
    display: flex;
    gap: 12px;
    padding-bottom: 8px;
}

.profile {
    display: flex;
    flex-direction: column;
}

.profile-icon {
    overflow: hidden;
    width: 32px;
    height: 32px;
}

.profile-image {
    display: flex;
    border-radius: 32px;
    outline: 1px solid var(--color-utility-detail);
    outline-offset: -1px;
    width: 32px;
    height: 32px;
}

.comment-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.comment-header {
    display: flex;
    gap: 6px;
}

.comment-header a {
    display: block;
}

.comment-header div {
    font: 13px/20px var(--font-family-text);
    color: var(--color-fg-secondary);
}

.comment-header .user-profile-link {
    text-decoration: none;
}

.comment-header .user-profile-link:hover {
    text-decoration: underline;
}

.comment-header .username {
    font-size: 15px;
    font-weight: 500;
    color: var(--color-fg-primary);
}

.deleted > .comment-content .comment-header .username {
    font-size: 13px;
    font-weight: normal;
    color: #7b8086;
}

.comment-header .comment-post-date-link {
    cursor: pointer;
    text-decoration: none;
}

.comment-header .comment-post-date-link:hover {
    text-decoration: underline;
}

.reason-line {
    margin-top: 4px;
    margin-bottom: -4px;
    font: 15px/20px var(--font-family-text);
    color: rgb(117, 123, 131);
}

.comment-edit {
    cursor: pointer;
    font-style: italic;
}

.comment-edit:hover {
    text-decoration: underline;
}

.comment .comment-body {
    margin-top: 4px;
    max-height: none;
}

.comment .comment-body.hidden {
    display: none;
}

.comment .comment-error {
    display: none;
    align-self: flex-start;
    border: 1px solid rgba(235, 87, 87, 0.2);
    border-radius: 4px;
    padding: 2px 6px;
    background-color: rgba(235, 87, 87, 0.2);
    font-size: 11px;
    font-weight: 500;
    color: #c53e41;
}

.comment .comment-error.visible {
    display: inline-block;
}

.comment-footer {
    display: flex;
    gap: 16px;
    padding-top: 8px;
}

.comment-footer.hidden {
    display: none;
}
.comment-footer > button {
    border: none;
    padding-inline: 0;
    padding-block: 0;
    background: none;
    cursor: pointer;
    font: 11px/20px var(--font-family-meta);
    font-weight: 500;
    color: var(--color-fg-secondary);
    text-transform: uppercase;
}

.comment-footer > button:hover {
    text-decoration: underline;
}

.comment-footer > button.meatball {
    margin-inline: -4px;
    padding-inline: 4px;
    user-select: none;
}

.comment-footer > button.meatball:hover {
    text-decoration: none;
}

.comment-footer span {
    color: var(--color-fg-secondary);
}

.comment.collapsed > .comment-content .comment-footer {
    margin-top: 5px;
    margin-bottom: -5px;
}

.footer-menu-wrapper {
    position: relative;
    overflow: visible;
    height: 0;
}

.footer-menu {
    z-index: 1;
    top: 24px;
    left: -32px;
    box-shadow: var(--shadow-md);
    border: var(--border-default);
    border-radius: 8px;
    width: 200px;
    padding: 4px;
    background: var(--color-bg-elevated-primary);
}

.footer-menu.up {
    top: auto;
    bottom: 4px;
}

.footer-menu-content {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.footer-menu-content button {
    display: flex;
    align-items: center;
    gap: 12px;
    transition: var(--animate-hover);
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    background: #0000;
    cursor: pointer;
    font: 500 13px/24px var(--font-family-text);
    text-align: left;
    color: var(--color-fg-primary);
}

.footer-menu-content button:hover {
    background-color: var(--color-bg-elevated-secondary);
}

.footer-menu-content .report svg {
    color: var(--color-semantic-error-bg-primary);
}

.footer-menu-content .report {
    color: var(--color-semantic-error-fg-primary);
}

.footer-menu-content .expand {
    display: none;
}

.collapsed .footer-menu-content .collapse {
    display: none;
}

.collapsed .footer-menu-content .expand {
    display: flex;
}

.footer-menu-content > .divider {
    margin: 4px -4px;
    padding: 0;
}

.children {
    padding-left: 32px;
}

.children:empty,
.children.hidden {
    display: none;
}

.collapser {
    display: flex;
    position: absolute;
    top: 36px;
    bottom: 0;
    width: 32px;
    cursor: pointer;
}

.collapser .anchor {
    position: absolute;
    z-index: -1;
    opacity: 0;
    padding: 0;
}

.collapser .outline {
    margin: 0 auto;
    padding: 0 8px;
    height: 100%;
}

.collapser .line {
    margin: 0 auto;
    width: 1px;
    height: 100%;
    background-color: var(--color-bg-tertiary);
}

.collapser:hover .line {
    background-color: var(--color-fg-tertiary);
}

.comment.collapsed > .children,
.comment.collapsed .reason-line {
    display: none;
}

.reply-container,
.edit-container {
    display: flex;
    gap: 12px;
}

.reply-container {
    padding-top: 16px;
}

.edit-container {
    padding-top: 8px;
}

.text-input-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px
}

.text-input {
    resize: vertical;
    box-sizing: border-box;
    border: var(--border-default);
    border-radius: 8px;
    min-height: 40px;
    padding: 8px 12px;
    background-color: var(--color-bg-primary);
    font: 15px/20px var(--font-family-text);
    color: var(--color-fg-primary);
}

.text-input:focus-within {
    border: var(--border-focus);
}

.text-input:disabled {
    cursor: not-allowed;
}

.text-input-buttons {
    display: flex;
    gap: 8px;
}

/* Report modal */

#report-modal.acx .report-substack,
#report-modal.substack .report-acx {
    display: none;
}

#report-modal {
    overflow: visible;
    border: none;
    background-color: #0000;
}

#report-modal::backdrop {
    background-color: #0008;
}

#report-modal .report-modal-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    box-sizing: border-box;
    box-shadow: var(--shadow-lg);
    border: 1px solid #0002;
    border-radius: 20px;
    width: 440px;
    padding: 20px;
    background-color: #fff;
}

.report-modal-wrapper .report-button-close {
    position: absolute;
    top: 12px;
    right: 12px;
    border: none;
    background: none;
    cursor: pointer;
}

.report-modal-wrapper .report-button-close svg {
    transition: var(--animate-hover);
    stroke: var(--color-button-quaternary-fg);
}

.report-modal-wrapper .report-button-close svg:hover {
    stroke: var(--color-button-quaternary-fg-hover);
}

.report-modal-wrapper > div {
    display: flex;
    flex-direction: column;
}

.report-modal-wrapper .title {
    margin-bottom: 4px;
    font: 17px/24px var(--font-family-text);
    font-weight: 600;
    color: var(--color-fg-primary);
}

.report-modal-wrapper .text {
    font: 15px/20px var(--font-family-text);
    color: var(--color-fg-secondary);
}

.report-modal-wrapper a {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-semantic-highlight-fg-primary);
}

.report-modal-wrapper a:hover {
    text-decoration: underline;
}

.report-modal-wrapper .reason-category-wrapper {
    position: relative;
}

.report-modal-wrapper .reason-dropdown-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding-right: 12px;
}

.report-modal-wrapper .reason-dropdown-icon {
    width: 18px;
    height: 18px;
    pointer-events: none;
    fill: var(--color-fg-primary);
}

.report-modal-wrapper .reason-category {
    appearance: none;
    transition: var(--animate-hover);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    border: 1px solid #0002;
    border-radius: 8px;
    width: 100%;
    padding: 8px 12px;
    cursor: pointer;
    font: 15px/20px var(--font-family-text);
    color: #373737;
}

.report-modal-wrapper .reason-category:hover {
    border-color: #dbdbdb;
    background-color: #ebebeb;
}

.report-modal-wrapper .reason-category:has(option[disabled]:checked) {
    color: var(--color-fg-secondary);
}

.report-modal-wrapper .reason-wrapper {
    display: flex;
    justify-content: space-between;
}

.report-modal-wrapper .reason-header {
    margin-bottom: 8px;
    font: 13px/20px var(--font-family-text);
    font-weight: 700;
}

.report-modal-wrapper .reason-optional {
    font: 13px/20px var(--font-family-text);
    color: #777;
}

.report-modal-wrapper .reason {
    resize: vertical;
    transition: var(--animate-hover);
    box-shadow: var(--shadow-xs);
    border: var(--border-default);
    border-radius: 8px;
    height: 80px;
    padding: 8px 12px;
    font: 15px/20px var(--font-family-text);
    color: var(--color-fg-primary);
}

.report-modal-wrapper .reason-category:focus-visible,
.report-modal-wrapper .reason:focus-visible {
    box-shadow: var(--shadow-xs), var(--focus-input-ring);
    border: var(--border-focus);
}

.report-modal-wrapper .submit {
    transition: var(--animate-hover);
    box-shadow: var(--button-highlight);
    border: none;
    border-radius: 8px;
    height: 40px;
    background-color: #fe474f;
    cursor: pointer;
    font: 15px/20px var(--font-family-text);
    font-weight: 600;
    color: #fff;
}

.report-modal-wrapper .submit:hover {
    background-color: #d62d3b;
}

.report-modal-wrapper .submit:focus-visible {
    box-shadow: var(--button-highlight), var(--error-ring);
}

.report-modal-wrapper .submit:disabled {
    box-shadow: none;
    background-color: var(--color-button-disabled-bg);
    pointer-events: none;
    color: var(--color-button-disabled-fg);
}

/* Report confirm modal */

#report-confirm-modal.acx .report-substack,
#report-confirm-modal.substack .report-acx {
    display: none;
}

#report-confirm-modal {
    box-sizing: border-box;
    box-shadow: var(--shadow-lg);
    border: 1px solid #0002;
    border-radius: 20px;
    width: 440px;
    padding: 20px;
    font: 15px/20px var(--font-family-text);
    color: var(--color-fg-secondary);
}

#report-confirm-modal::backdrop {
    background-color: #0008;
}

#report-confirm-modal .report-confirm-header {
    margin-bottom: 4px;
    font: 17px/24px var(--font-family-text);
    font-weight: 600;
    color: var(--color-fg-primary);
}

#report-confirm-modal .buttons {
    display: flex;
    justify-content: right;
    gap: 12px;
    margin-top: 20px;
}

#report-confirm-modal .buttons button {
    transition: var(--animate-hover);
    border: none;
    border-radius: 8px;
    height: 40px;
    padding: 0 16px;
    cursor: pointer;
    font: 15px var(--font-family-text);
    font-weight: 600;
}

#report-confirm-modal .buttons .cancel {
    background-color: var(--color-button-secondary-bg);
    color: var(--color-button-secondary-fg);
}

#report-confirm-modal .buttons .cancel:hover {
    background-color: var(--color-button-secondary-bg-hover);
    color: var(--color-button-secondary-fg-hover);
}

#report-confirm-modal .buttons .cancel:focus-visible {
    box-shadow: var(--focus-ring);
}

#report-confirm-modal .buttons .submit {
    background-color: var(--color-button-destructive-bg);
    color: var(--color-button-destructive-fg);
}

#report-confirm-modal .buttons .submit:hover {
    background-color: var(--color-button-destructive-bg-hover);
    color: var(--color-button-destructive-fg-hover);
}

#report-confirm-modal .buttons .submit:focus-visible {
    box-shadow: var(--button-highlight), var(--error-ring);
}
