.comment .comment-actions > span {
    margin-left: 0 !important;
}

.comment .comment-meta .highlight {
    margin-right: 0 !important;
}

.comment .comment-meta .highlight .highlight-text {
    top: -2px;
}

/* Hide duplicate timestamp if not using full time option */

.comment-content .better-date {
    display: none;
}

.comment-content .better-edited-indicator {
    display: none;
}

/* Hide 24 hour time */

.hour24-time {
    display: none;
}

.hour12-time {
    display: inline;
}

/* Highlight for new comments */

.new-tag-text {
    color: #d35400;
}

/* Hide new comment styling if not using comment styling option */

.comment-body .new-style {
    display: none;
}

/* Comment blockquote style */

.comments-page blockquote {
    margin: 0 2em;
    padding: 0 1em;
}

blockquote blockquote {
    margin: 0 0 !important;
}

.comment-list-container blockquote > * {
    margin-left: 0 !important;
}

/* Own comment hearts don't have pointer cursor */

.like-button {
    cursor: pointer;
}

.like-button.own-comment {
    cursor: default;
}

.like-button .reaction-container > svg {
    position: relative;
    top: 3px; /* I give up */
}

.like-button .reaction-container > svg.animation {
    position: absolute;
}

.comment-heart {
    float: left;
    order: -1;
}

.comment-heart:hover {
    text-decoration: none !important;
}

.parent-link a {
    cursor: pointer;
}

/* Fix substack issue where dropdowns have a scrollbar */

.dropdown-menu > .dropdown-menu-wrapper > li > a {
    width: initial !important;
}

/* is this a hack? */
.hidden-post:first-child + .comment, .hidden-post:first-child + .hidden-post + .comment,
.hidden-post:first-child + .hidden-post + .hidden-post + .comment {
    margin-top: 0 !important;
}
