/* Adds permalink text */

.comment-actions > span:nth-child(2) > a {
    margin-right: 12px;
}

.container > .comment-list > .comment-list-items > .comment > .comment-content .comment-actions > span:nth-child(2):after {
    content: "Top";
    cursor: pointer;
    color: #888;
}

.container .comment .comment .comment-actions > span:nth-child(2):after {
    content: "Parent" !important;
    cursor: pointer;
    color: #888;
}

/* Hide duplicate timestamp if not using full time option */

.comment-meta span:nth-child(2) a:nth-child(2) {
    display: none;
}


/* Highlight for new comments */

.new-tag {
    color: #d35400;
}